/**********scrolling service**************/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skyleadExploreContainer {
  max-width: 1200px;
  margin: 120px auto;
  font-family: "Manrope", serif !important;
}

.skyleadExploreContainerinner {
  background-color: #0080ff;
  height: 420px;
  padding: 60px;
  border-radius: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-cards {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: topToBottom 1s ease-in-out;
}

.explore-cards-bottom {
  position: absolute;
  bottom: -230px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: BottomTopTop 1s ease-in-out;
}

.explore-inner-card {
  background-color: white;
  width: 40%;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4.8px 14px rgba(46, 52, 54, 0.14),
    0 4.8px 84.0001px rgba(46, 52, 54, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.explore-inner-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-inner-card-bottom {
  margin-top: 20px;
}

.explore-inner-card-bottom a {
  text-decoration: none;
  background-color: #3b475d;
  color: white;
  width: auto;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 140px;
  transition: all 0.3s ease-in-out;
}

.explore-inner-card-bottom a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #3b475d;
  border: 1px solid #3b475d;
  width: auto;
  padding: 10px 20px;
  border-radius: 140px;
  transition: all 0.3s ease-in-out;
}

.skyleadExploreContainerinner h1 {
  font-size: 52px;
  width: 60%;
  text-align: center;
  color: white;
}

.explore-cards h1,
.explore-cards-bottom h1 {
  color: black;
  text-align: left;
}

.skyleadExploreContainerinner h1 .highligter {
  background-color: #fca739;
  border-radius: 140px;
}

.skyleadExploreContainer {
  perspective: 1000px;
}

.explore-inner-card {
  transform: rotateY(0deg) translateZ(0);
  transition: transform 0.5s ease-out;
  will-change: transform;
}

.explore-inner-card.visible {
  transform: translateY(-100px);
}
.explore-inner-card-top h1 {
  font-size: 32px !important;
}
/**********scrolling service**************/
@media screen and (min-width: 763px) and (max-width: 1080px) {
  .explore-inner-card-top h1 {
    font-size: 26px !important;
  }
  .explore-inner-card-top svg {
    width: 50px;
  }
  .explore-inner-card-description p {
    font-size: 16px !important;
  }
  .skyleadExploretitle {
    font-size: 42px !important;
  }
  .skyleadExploreContainerinner .skyleadExploretitle {
    width: 70%;
  }
  .explore-inner-card {
    width: 45%;
  }
}
@media screen and (min-width: 569px) and (max-width: 762px) {
  .explore-cards-bottom,
  .explore-cards {
    width: 98%;
  }

  .explore-inner-card {
    width: 48%;
  }
  .explore-inner-card-top svg {
    width: 50px;
  }
  .explore-inner-card-description p {
    font-size: 16px !important;
  }
  .skyleadExploreContainerinner .skyleadExploretitle {
    width: 62%;
    font-size: 26px;
  }
}
@media screen and (min-width: 468px) and (max-width: 568px) {
  .explore-cards-bottom,
  .explore-cards {
    width: 98%;
  }
  .explore-inner-card-top h1 {
    font-size: 22px !important;
  }
  .explore-inner-card {
    width: 48%;
  }
  .explore-inner-card-top svg {
    width: 50px;
  }
  .explore-inner-card-description p {
    font-size: 15px !important;
  }
  .skyleadExploreContainerinner .skyleadExploretitle {
    width: 80%;
    font-size: 26px;
  }
  .explore-inner-card.visible {
    transform: translateY(-110px);
  }
}

@media screen and (min-width: 0px) and (max-width: 467px) {
  body {
    height: 500vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .explore-cards,
  .explore-cards-bottom {
    flex-direction: column;
    width: 90%;
    gap: 30px;
  }
  .explore-cards-bottom {
    bottom: 0;
  }
  .explore-inner-card {
    width: 100%;
  }
  .explore-inner-card {
    justify-content: start;
    transform: translateY(0);
  }
  .explore-inner-card-1 {
    transform: translateY(-350px) !important;
  }
  .explore-inner-card-2 {
    transform: translateY(-350px) !important;
  }
  .explore-inner-card-3 {
    transform: translateY(350px) !important;
  }
  .explore-inner-card-4 {
    transform: translateY(350px) !important;
  }
  .skyleadExploreContainer {
    margin: 0 10px;
  }
  .skyleadExploreContainerinner {
    padding: 0;
  }
  .skyleadExploreContainerinner .skyleadExploretitle {
    font-size: 6vw !important;
    width: 100%;
  }
  .explore-inner-card {
    transform: rotateY(20deg) translateZ(0);
    transition: transform 0.5s ease-out;
    will-change: transform;
  }
  .explore-inner-card-top h1 {
    font-size: 22px !important;
  }
  .explore-inner-card-top svg {
    width: 50px;
  }
  .explore-inner-card-description p {
    font-size: 15px !important;
  }
  .explore-inner-card-top{
    justify-content: space-between;
  }
}
